# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Environments
.env
venv/
ENV/
env/
.venv/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
